USE [master]
GO
/****** Object:  Database [RCM-Analytics-Project]    Script Date: 3/1/2026 1:33:04 PM ******/
CREATE DATABASE [RCM-Analytics-Project];
GO

USE [RCM-Analytics-Project];
GO

/****** Object:  Table [dbo].[Claims]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimID] [nvarchar](50) NOT NULL,
	[PatientID] [nvarchar](50) NOT NULL,
	[ProviderID] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[Specialty] [nvarchar](50) NOT NULL,
	[ServiceDate] [date] NOT NULL,
	[SubmitDate] [date] NOT NULL,
	[Payer] [nvarchar](50) NOT NULL,
	[PayerCanonical] [nvarchar](50) NOT NULL,
	[PlanType] [nvarchar](50) NOT NULL,
	[BilledAmount] [float] NOT NULL,
	[AllowedAmount] [float] NULL,
	[ClaimStatus] [nvarchar](50) NOT NULL,
	[ClaimKey] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Claims_ClaimKey] PRIMARY KEY CLUSTERED 
(
	[ClaimKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Denials]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Denials](
	[DenialID] [nvarchar](50) NOT NULL,
	[ClaimID] [nvarchar](50) NOT NULL,
	[DenialDate] [date] NOT NULL,
	[DenialCategory] [nvarchar](50) NOT NULL,
	[DenialReason] [nvarchar](50) NULL,
	[AppealedFlag] [bit] NOT NULL,
	[ResubmittedFlag] [bit] NOT NULL,
	[Outcome] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Denials_By_Payer]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Denials_By_Payer] AS
SELECT
  c.PayerCanonical,
  COUNT(DISTINCT d.ClaimID) AS DeniedClaims
FROM dbo.Denials d
JOIN dbo.Claims c ON c.ClaimID = d.ClaimID
GROUP BY c.PayerCanonical;
GO
/****** Object:  View [dbo].[v_Denials_By_Category]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Denials_By_Category] AS
SELECT
  d.DenialCategory,
  COUNT(*) AS DenialEvents,
  COUNT(DISTINCT d.ClaimID) AS DeniedClaims
FROM dbo.Denials d
GROUP BY d.DenialCategory;
GO
/****** Object:  View [dbo].[v_Denials_By_Outcome]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Denials_By_Outcome] AS
SELECT
  d.Outcome,
  COUNT(*) AS DenialEvents
FROM dbo.Denials d
GROUP BY d.Outcome;
GO
/****** Object:  View [dbo].[v_Resubmitted_Denials_Monthly]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Resubmitted_Denials_Monthly] AS
SELECT
  YEAR(d.DenialDate) AS [Year],
  MONTH(d.DenialDate) AS [Month],
  COUNT(*) AS ResubmittedDenials
FROM dbo.Denials d
WHERE d.ResubmittedFlag = 1
GROUP BY YEAR(d.DenialDate), MONTH(d.DenialDate);
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [nvarchar](50) NOT NULL,
	[ClaimID] [nvarchar](50) NOT NULL,
	[PaymentDate] [date] NULL,
	[PaymentAmount] [float] NULL,
	[PaymentAmountRaw] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_KPI_Summary]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_KPI_Summary] AS
SELECT
  SUM(c.BilledAmount) AS TotalBilled,
  COUNT(*)            AS ClaimCount,
  (SELECT SUM(p.PaymentAmount) FROM dbo.Payments p) AS TotalPayments,
  (SELECT COUNT(*) FROM dbo.Denials d) AS DenialEventCount,
  CAST((SELECT COUNT(DISTINCT d.ClaimID) FROM dbo.Denials d) AS float) / NULLIF(COUNT(*),0) AS DenialRate,
  CAST((SELECT SUM(p.PaymentAmount) FROM dbo.Payments p) AS float) / NULLIF(SUM(c.BilledAmount),0) AS CollectionsRate
FROM dbo.Claims c;
GO
/****** Object:  Table [dbo].[Payers]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payers](
	[PayerCanonical] [nvarchar](50) NOT NULL,
	[PlanType] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 3/1/2026 1:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[ProviderID] [nvarchar](50) NOT NULL,
	[NPI] [bigint] NOT NULL,
	[Specialty] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
